html {
  color: #575757;
  font-family: "DM Sans", sans-serif;
  background-color: #e9ebec;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

button {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
button:focus {
  outline: none;
}
button:hover {
  background-color: #e7d6d9;
}

.container {
  border-radius: 5px;
  background-color: #e9ebec;
}

.day_night {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.day_night__img {
  width: 30px;
  cursor: pointer;
}

.info__name__photo {
  max-width: 100px;
  margin-left: 25px;
}

.info__name__text {
  margin: 20px;
  margin-left: 20px;
  line-height: 5px;
}

.info__name__text__bold {
  font-size: 20px;
}

.info__name__social {
  width: 20px;
  cursor: pointer;
  padding-right: 10px;
}

.info__name {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.info__projects {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  line-height: 5px;
}

.info__CV__buttons,
.info__portfolio__buttons {
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.info__portfolio__buttons {
  background-color: #ffffff;
  padding: 10px;
  margin: 20px;
  border-radius: 5px;
}

.info__portfolio__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
  text-align: center;
}

.info__button__CV,
.info__button__contact,
.info__button__portfolio,
.info__button__skills {
  padding: 10px 25px;
  border-radius: 5px;
}

.info__button__CV {
  background-color: #e27384;
}

.info__button__contact {
  background-color: #ffffff;
}

.info__button__portfolio,
.info__button__skills {
  background-color: #d7d7d7;
}

.info__portfolio__items {
  margin: 20px;
}

.info__portfolio__item {
  background-color: #d7d7d7;
  width: 320px;
  height: 180px;
  border-radius: 5px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

@media only screen and (max-width: 480px) {
  .info__portfolio__item {
    width: 160px;
    height: 90px;
  }
  .info__portfolio__items.no-grid {
    width: 330px;
  }
}
@media only screen and (min-width: 480px) {
  .info__portfolio__items.no-grid {
    width: 650px;
  }
}
.no-grid {
  display: block;
  grid-template-columns: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
}

html.night {
  background-color: #0c151d;
  color: #a3abb2;
}

html.night .container {
  background-color: #0c151d;
}

html.night .info__button__contact {
  background-color: #293541;
}

html.night .info__button__portfolio {
  background-color: #293541;
}

html.night .info__button__skills {
  background-color: #293541;
}

html.night .info__portfolio__buttons {
  background-color: #171f26;
}

html.night .info__portfolio__item {
  background-color: #171f26;
}

html.night button {
  transition: background-color 0.3s ease-in-out;
}
html.night button:hover {
  background-color: #794149;
}

html.night .info__button__CV {
  color: #0c151d;
}/*# sourceMappingURL=styles.css.map */