$back-col-day: #e9ebec;
$col-text-day: #575757;
$back-col-items-day: #ffffff;
$col-accent-day: #e27384;
$back-item-2: #d7d7d7;
$back-item-3: #e7d6d9;

$back-col-night: #0c151d;
$col-text-night: #a3abb2;
$back-col-items-night: #171f26;
$col-accent-night: #e27384;
$back-item-2-night: #293541;
$back-item-3-night: #794149;


$border-radius: 5px;

@mixin custom-flex($direction: column, $justify: center, $align: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
}

@mixin reset-button {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    color: inherit;
    font: inherit;
    cursor: pointer;

    &:focus {
        outline: none;
    }
}