@import '_variables';

html {
    color: $col-text-day;
    font-family: 'DM Sans', sans-serif;
    background-color: $back-col-day;
}

body {
    @include custom-flex(column, center, center);
}

a {
    text-decoration: none;
}

button {
    @include reset-button;
    transition: background-color 0.3s ease-in-out;

    &:hover {
        background-color: $back-item-3;
    }
}

.container {
    border-radius: $border-radius;
    background-color: $back-col-day;
}

.day_night {
    margin-top: 10px;
    @include custom-flex(column, center, center);
}

.day_night__img {
    width: 30px;
    cursor: pointer;
}

.info__name__photo {
    max-width: 100px;
    margin-left: 25px;
}

.info__name__text {
    margin: 20px;
    margin-left: 20px;
    line-height: 5px;
}

.info__name__text__bold {
    font-size: 20px;
}

.info__name__social {
    width: 20px;
    cursor: pointer;
    padding-right: 10px;
}

.info__name {
    @include custom-flex(row, center, center);
}

.info__projects {
    @include custom-flex(row, space-around, center);
    text-align: center;
    line-height: 5px;
}

.info__CV__buttons,
.info__portfolio__buttons {
    margin: 20px;

    @include custom-flex(row, space-between, center);
}

.info__portfolio__buttons {
    background-color: $back-col-items-day;
    padding: 10px;
    margin: 20px;
    border-radius: $border-radius;
}

.info__portfolio__items {
    @include grid-container;
    text-align: center;
}

.info__button__CV,
.info__button__contact,
.info__button__portfolio,
.info__button__skills {
    padding: 10px 25px;
    border-radius: $border-radius;
}

.info__button__CV {
    background-color: $col-accent-day;
}

.info__button__contact {
    background-color: $back-col-items-day;
}

.info__button__portfolio,
.info__button__skills {
    background-color: $back-item-2;
}

.info__portfolio__items {
    margin: 20px;
}

.info__portfolio__item {
    background-color: $back-item-2;
    width: 320px;
    height: 180px;
    border-radius: $border-radius;
}

.footer {
    @include custom-flex(column, center, center);
    padding-bottom: 20px;
}

@media only screen and (max-width: 480px) {
    .info__portfolio__item {
        width: 160px;
        height: 90px;
    }

    .info__portfolio__items.no-grid {
        width: 330px;
    }
}

@media only screen and (min-width: 480px) {
    .info__portfolio__items.no-grid {
        width: 650px;
    }
}

//////////////////  portfolio and skills   ////////////////////////

.no-grid {
    display: block;
    grid-template-columns: none;
}

.grid {
    @include grid-container;
}

//////////////////  night theme   ////////////

html.night {
    background-color: $back-col-night;
    color: $col-text-night;
}

html.night .container {
    background-color: $back-col-night;
}

html.night .info__button__contact {
    background-color: $back-item-2-night;
}

html.night .info__button__portfolio {
    background-color: $back-item-2-night;
}

html.night .info__button__skills {
    background-color: $back-item-2-night;
}

html.night .info__portfolio__buttons {
    background-color: $back-col-items-night;
}

html.night .info__portfolio__item {
    background-color: $back-col-items-night;
}

html.night button {
    transition: background-color 0.3s ease-in-out;

    &:hover {
        background-color: $back-item-3-night;
    }
}

html.night .info__button__CV {
    color: $back-col-night;
}